<!doctype html>
<html lang="en">
  <head>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="dashboard.component.scss">

   </head>

<body>
<!--  Body Wrapper -->
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
  <!-- Sidebar Start -->
  <aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
      <div class="brand-logo d-flex align-items-center justify-content-between">
        <a href="./index.html" class="text-nowrap logo-img">
          <img src="assets/Ooredoo_logo.svg.png" width="180" alt="" />
        </a>
        <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
          <i class="ti ti-x fs-8"></i>
        </div>
      </div>
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
        <ul id="sidebarnav">

          <li class="sidebar-item" style="margin-top: 20px; margin-left: -50px;">
            <a class="sidebar-link" href="/dashboard" aria-expanded="false" style="text-decoration: none;">
              <img src="assets/images/profile/dashboard.png" alt="" width="35" height="35" class="rounded-circle">

              <span class="hide-menu" style=" font-family: 'Poppins', sans-serif;" > <b>DASHBOARD</b></span>
            </a>
          </li>

          <li class="sidebar-item" style="margin-top: 20px; margin-left: -50px;">
            <a class="sidebar-link" href="/users" aria-expanded="false" style="text-decoration: none;">
              <img src="assets/images/profile/us.png" alt="" width="35" height="35" class="rounded-circle">
              
              <span class="hide-menu " style=" font-family: 'Poppins', sans-serif;" ><b>USERS</b></span>
            </a>
          </li>

          <li class="sidebar-item" style="margin-top: 20px; margin-left: -50px;">
            <a class="sidebar-link" href="/" aria-expanded="false" style="text-decoration: none;">
              <img src="assets/images/profile/pr.png" alt="" width="35" height="35" class="rounded-circle">
              
              <span class="hide-menu " style=" font-family: 'Poppins', sans-serif;" ><b>PROJECTS</b></span>
            </a>
          </li>

          <li class="sidebar-item" style="margin-top: 20px; margin-left: -50px;">
            <a class="sidebar-link" href="/" aria-expanded="false"  style="text-decoration: none;" >
              <img src="assets/images/profile/dc.png" alt="" width="35" height="35" class="rounded-circle">
              
              <span class="hide-menu " style=" font-family: 'Poppins', sans-serif;" ><b>DOCUMENTS</b></span>
            </a>
          </li>   


          <li class="sidebar-item" style="margin-top: 20px; margin-left: -50px;">
            <a class="sidebar-link" href="/" aria-expanded="false" style="text-decoration: none;">
              <img src="assets/images/profile/analyt.png" alt="" width="35" height="35" class="rounded-circle" >
              
              <span class="hide-menu " style=" font-family: 'Poppins', sans-serif;" ><b>ANALYTICS</b></span>
            </a>
          </li>

        </ul>

      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!--  Sidebar End -->
  <!--  Main wrapper -->
  <div class="body-wrapper">
    <!--  Header Start -->
    <header class="app-header">

      

      <nav class="navbar navbar-expand-lg navbar-light">

        <div class="art-degrade">
          <h2>OOREDOO UPGRADE YOUR WORLD</h2>
        </div>
        

       <div class="search__container">
  
    <input class="search__input" type="text" placeholder="Search">
</div>

        <ul class="navbar-nav">
          <li class="nav-item d-block d-xl-none">
            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
              <i class="ti ti-menu-2"></i>
            </a>
          </li>

        </ul>
        <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
          <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <img src="assets/images/profile/me.png" alt="" width="40" height="40" class="rounded-circle">
              </a>
              
            </li>

           

            <li class="nav-item dropdown">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                 aria-expanded="false">
                <img src="assets/images/profile/setting.png" alt="" width="40" height="40" class="rounded-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                <div class="message-body">



                  <a href="/signin" class="btn btn-outline-danger mx-3 mt-2 d-block" >Logout</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>
	
    <div class="container-fluid">
      <div class="card">
        <div class="card-body">


      <iframe title="Pfe_ooredoo" width="1200" height="600" src="https://app.powerbi.com/reportEmbed?reportId=9a204817-4289-4ddd-8096-b709b11de2ca&autoAuth=true&ctid=604f1a96-cbe8-43f8-abbf-f8eaf5d85730" frameborder="0" allowFullScreen="true"></iframe>


        </div>
      </div>
    </div>
  </div>

  
</div>


</body>

</html>
